/**
* style.css
* 최초작성일: 2023.10.04
* 최초작성자: 곽신아
* 이력: 
*/
body{
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas{
    width: 800px;
    height: 800px;
    border: 5px solid navy;
}

.color-option{
    width : 50px;
    height : 50px;
    cursor : pointer;
}